html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  background: transparent;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}
body {
	line-height: 1;
}
:focus {
  outline: 0;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address,caption,cite,code,dfn,em,strong,th,var{
  font-style: normal;
  font-weight: normal;
}
// /* change colours to suit your needs */
// ins {
//     background-color:#ff9;
//     color:#000;
//     text-decoration:none;
// }
//
// /* change colours to suit your needs */
// mark {
//     background-color:#ff9;
//     color:#000;
//     font-style:italic;
//     font-weight:bold;
// }
//
// del {
//     text-decoration: line-through;
// }
//
// abbr[title], dfn[title] {
//     border-bottom:1px dotted;
//     cursor:help;
// }
//
// /* change border colour to suit your needs */
// hr {
//     display:block;
//     height:1px;
//     border:0;
//     border-top:1px solid #cccccc;
//     margin:1em 0;
//     padding:0;
// }
//
// input, select {
//     vertical-align:middle;
// }
//

//
// caption,th {
//   text-align:left;
// }
//
// q:before,q:after {
//   content:'';
// }
//
// abbr,acronym {
//   border:0;
// }


/*
<section> This element has been added in HTML5	Define a seção do Documento.
<nav> This element has been added in HTML5	Define uma seção que contém apenas links de navegação.
<article> This element has been added in HTML5	Define que pode existir de forma independente do resto do conteúdo. Esta Tag poderia ser um post no fórum, um artigo de revista ou jornal, uma entrada de log da Web, um comentário enviado pelo usuário, ou qualquer outro item independente do conteúdo.
<aside> This element has been added in HTML5	
Define um conteúdo reservado do resto do conteúdo da página. Se for removida, o conteúdo restante ainda fazem sentido.

<h1>,<h2>,<h3>,<h4>,<h5>,<h6>	São elementos que representam os seis níveis de titulos de cabeçalhos dos documentos. Um elemento título descreve brevemente o tema da seção.
<hgroup> This element has been added in HTML5	Agrupa um conjunto de elementos <h1> a <h6> quando um título tem vários níveis. *tag excluida da documentação do html5 pelo W3C.
<header> This element has been added in HTML5	Define o cabeçalho de uma página ou seção. Muitas vezes contém um logotipo, o título do site e uma menu de navegação do conteúdo.
<footer> This element has been added in HTML5	Define o rodapé de uma página ou seção. Muitas vezes contém um aviso de copyright, alguns links para informações legal ou endereços para dar feedback.
<address>	Define uma seção que contém informações de contato, como endereço e telefone.
<main>This element has been added in HTML5 Define o conteúdo principal ou importante no documento. Existe apenas um elemento <main> no documento.

<p>	Define uma parte que deve ser exibido como um parágrafo.
<hr>	Representa uma ruptura temática entre parágrafos de um artigo ou seção ou qualquer conteúdo mais longo.
<pre>	Indica que o seu conteúdo é pré-formatado e que este formato deve ser preservada.
<blockquote>	Representa uma citação.
<ol>	Define uma lista ordenada de itens, que é uma lista que mudam o seu significado, se alterar a ordem dos seus elementos.
<ul>	Define uma lista não ordenada.
<li>	Define um item de uma lista ol ou de uma ul.
<dl>	Representa uma Lista de Definição.
<dt>	Representa um item da Lista de Definição <dd>.
<dd>	Representa a definição dos termos listados imediatamente antes dele.
<figure> This element has been added in HTML5	
O elemento figura representa um conteúdo de fluxo, opcionalmente com um subtítulo.

<figcaption> This element has been added in HTML5	Representa a legenda do Figure.
<div>	Representa um contêiner genérico sem nenhum significado especial.

<a>	Representa um hyperlink, ligando a outro recurso.
<em>	Representa a ênfase do conteudo.
<strong>	Representa a importância de um pedaço de texto com o forte elemento não altera o sentido da frase.
<small>	
Representa lado comentário , que é o texto como um aviso legal, um autor que não é essencial para a compreensão do documento.

<s>	
Representa o conteúdo que é nolonger precisos e pertinentes.

<cite>	
Representa o título de uma obra.

<q>	
Representa um inline quotation.

<dfn>	
Representa um termo cuja definição está contida em seu conteúdo ancestral mais próximo.

<abbr>	
Representa uma abreviatura ou acrônimo , eventualmente, com o seu significado .

<data> This element has been added in HTML5	Associa o seu conteúdo a um equivalente legível por máquina.(Este elemento está apenas na versão padrão HTML do WHATWG, e não documentado na versão HTML5 da W3C).
<time> This element has been added in HTML5	 Representa um valor de data e hora, eventualmente com um equivalente legível por máquina.
<code>	Representa uma codificação
<var>	Representa uma variável, que pode ser uma expressão matemática, ou código de programação, um identificador representando uma constante, um símbolo identificando  uma quantificação física um parâmetro de função ou um mero placeholder.
<samp>	Representa uma saída de um programa de computador.
<kbd>	
Representa uma entrada do usuário, geralmente pelo teclado, mas não necessariamente, podendo representar outro tipo de entrada como comandos de voz transcritos.

<sub>,<sup>	Representa subscrito e sobrescrito respectivamente
<i>	
Representa texto em uma voz ou humor alternativo ou em uma qualidade diferente.

Exemplos são : denominações taxonômica, termos técnicos, expressões idiomáticas, pensamentos ou o nome de um barco.

<b>	Representa um texto que a que chama a atenção para fins utilitários. Ele não transmite importância extra e não implica uma voz alternativa.
<u>	Representsunarticulate non-textual annoatation, such labeling the text as being misspelt or labeling a proper name in Chinese text.
<mark> This element has been added in HTML5	Representa texto destacado para fins de referência, que é por sua relevância em outro contexto.
<ruby> This element has been added in HTML5	
Representa uma anotação que é usada como anexo para os textos principais para Indicar uma  Pronúncia ou o significado dos caracteres.O ruby é muito usado  para publicações no Leste Asiático.

Exemplo:O furigana japonês.

<rt> This element has been added in HTML5	Usado para anotações em ruby.
<rp> This element has been added in HTML5	
Representa uma anotação ruby,Que vai ser usado para exibir  anotações ruby em navegadores que não tem suporte padrão para exibição de anotações.

<bdi> This element has been added in HTML5	Represents text that must beisolated from its surrounding for bidirectional text formatting. It allows to embed span of text with a different, or unknown, directionality.
<bdo>	Represents the directionality of its children, in order to explicitly override the Unicode bidirectional algorithm.
<span>	
Representa um texto sem significado. Ele deve ser usado quando nenhum outro elemento de texto semântico representar um significado adequado.

<br>	Representa uma quebra de linha.
<wbr> This element has been added in HTML5	Represents a line break opportunity , that is a suggested wrapping point in order to improve readability of text split on several lines.

<ins>	Define um complemento para o documento
<del>	Define uma remoção do documento

<img>	Representa uma imagem.
<iframe>	
Representa uma caixa aninhada,aonde sera apresentado um documento em HTML incorporado.

<embed> This element has been added in HTML5	Representa um ponto de integração para um externo, muitas vezes non_HTML, aplicação ou conteúdo interativo.
<object>	Representa uma fonte externa , a qual será tratada como uma imagem, um sub-documento HTML ou um recurso externo a ser processado por um plugin.
<param>	Define parâmetros de uso de plugins "invocados" por elementos<object>.
<video> This element has been added in HTML5	Representa um video e seus arquivos e legendas de áudio associados, com a interface necessária para reproduzi-lo.
<audio> This element has been added in HTML5	
Representa um som ou um fluxo de som

<source> This element has been added in HTML5	Permite aos autores especificar fontes de mídia alternativa para elementos de mídia como<video> or <audio>.
<track> This element has been added in HTML5	Permite aos autores especificar timedtext track para elementos de mídia como <video>or <audio>.
<canvas> This element has been added in HTML5	Represents a bitmap area that scripts can be used to render graphics, like graphs, game graphics, any visual images on the fly.
<map>	Em conjunto com <area>, define um mapa de imagem .
<area>	Em conjunto com <map>, define um mapa de imagem .
<svg> This element has been added in HTML5	Define umaimagem vetorial incorporada .
<math> This element has been added in HTML5	Define uma fórmula matemática.

<table>	Representa uma tabulação de dados - ex: uma tabela de informações expressada em duas dimensões através de linhas e colunas.
<caption>	Representa o título da tabela.
<colgroup>	Representa um ou mais conjuntos de colunas em uma tabela.
<col>	Representa uma coluna da tabela.
<tbody>	Representa o bloco de linhas que descreve os dados concretos de uma tabela.
<thead>	Representa o bloco de linhas que descreve os cabeçalhos de uma tabela
<tfoot>	Representa o bloco de linhas que descreve o rodapé de uma tabela.
<tr>	Representa uma linha de células em uma tabela.
<td>	Representa uma célula de dados em uma tabela.
<th>	Representa uma célula de cabeçalho em uma tabela.

<form>	Represents a formular , consisting of controls, that can be submitted to a server for processing.
<fieldset>	Represents a set of controls .
<legend>	Represents the caption for a <fieldset>.
<label>	Represents the caption of a form control.
<input>	Represents a typed data field allowing the user to edit the data.
<button>	Representa um botão 
<select>	Represents a control allowing the selection among a set of options .
<datalist> This element has been added in HTML5	Represents a set of predefined options for other controls.
<optgroup>	Represents a set of options , logically grouped.
<option>	Represents an option in a <select> element, or a suggestion of a <datalist> element.
<textarea>	Representa um controle de edição de texto multilinha.
<keygen> This element has been added in HTML5	Represents a key pair generator control .
<output> This element has been added in HTML5	Representa um resultado de cálculos de dados.
<progress> This element has been added in HTML5	Represents the completion progress of a task.
<meter> This element has been added in HTML5	Represents a scalar measurement (or a fractional value), within a known range

<details> This element has been added in HTML5	Represents a widget from which the user can obtain additional information or controls.
<summary> This element has been added in HTML5	Represents a summary ,caption , or legend for a given <details>.
<command> This element has been added in HTML5	Represents a command that the user can invoke.
<menu> This element has been added in HTML5	
Representa uma lista de comandos.

<content>	The HTML <content> element—an obsolete part of the Web Components suite of technologies—was used inside of Shadow DOM as an insertion point, and wasn't meant to be used in ordinary HTML.
<element>	The obsolete HTML <element> element was part of the Web Components specification; it was intended to be used to define new custom DOM elements.
<shadow>	The HTML <shadow> element—an obsolete part of the Web Components technology suite—was intended to be used as a shadow DOM insertion point. You might have used it if you have created multiple shadow roots under a shadow host. It is not useful in ordinary HTML.
<slot>	The HTML <slot> element—part of the Web Components technology suite—is a placeholder inside a web component that you can fill with your own markup, which lets you create separate DOM trees and present them together.
<template>	The HTML <template> element is a mechanism for holding client-side content that is not to be rendered when a page is loaded but may subsequently be instantiated during runtime using JavaScript.
*/
